/* New section */
  
.home-page .news-section {
    padding: 20px;
    background-color: #f3f5f8;
  }
  .home-page .news-section .line-hr {
    width: 60px;
    height: 3px;
    background: rgba(56, 176, 0, 1);
    margin: auto;
  }
  .home-page .news-section .new-slider {
    margin-top: 10px;
  }
  .new-slider .news-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  .new-slider .news-info p,
  .col-7 p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
  }
  .new-slider .news-info {
    margin-top: 15px;
    padding: 0 30px;
  }
  .new-slider .news-info .card-title,
  .quality-section .title {
    font-weight: 500;
    font-size: 19px;
    line-height: 24px;
  }
  .new-slider .news-info .show,
  .li-detail {
    margin: 60px 0px 30px;
   
  }
  .new-slider .news-info .view-detail,
  .li-detail {
    margin-top: 20px;
    color: rgba(56, 176, 0, 1);
    border-radius: 40px;
    border: 1px solid rgba(56, 176, 0, 1);
    padding: 10px 65px;
    text-decoration: none;
  }
  